
*.dll
*.pdb
*.nuspec
*.cache
*.user
*.nupkg
*.props
*.targets
*.CopyComplete
*.lock
.vs/AppSettings.Loader/v15/.suo
*.ide
*.ide-shm
*.ide-wal
.vs/config/applicationhost.config
AppSettings.Loader/obj/Release/netstandard2.0/AppSettings.Loader.AssemblyInfo.cs
AppSettings.Loader/obj/Release/netstandard2.0/AppSettings.Loader.csproj.FileListAbsolute.txt
AppSettings.Loader/obj/Release/netstandard2.0/AppSettings.Loader.AssemblyInfo.cs
